/* SCREEN 15 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 35 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 34 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 33 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 32 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 7 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 5 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Login 1 */

position: relative;
width: 1512px;
height: 982px;

background: url(login background.png), url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Login 2 */

position: relative;
width: 1512px;
height: 982px;
overflow-y: scroll;

background: url(login background.png), url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Login 7 */

position: relative;
width: 1512px;
height: 982px;
overflow-y: scroll;

background: url(login background.png), url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Login 9 */

position: relative;
width: 1512px;
height: 982px;
overflow-y: scroll;

background: url(login background.png), url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Login 8 */

position: relative;
width: 1512px;
height: 982px;
overflow-y: scroll;

background: url(login background.png), url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Login 3 */

position: relative;
width: 1512px;
height: 982px;

background: url(login background.png), url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Login 5 */

position: relative;
width: 1512px;
height: 982px;

background: url(login background.png), url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Login 6 */

position: relative;
width: 1512px;
height: 982px;

background: url(login background.png), url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 1 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 62 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 31 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 30 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 29 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 28 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 11 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 63 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 64 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 65 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 66 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* Start Bidding */

position: absolute;
width: 531px;
height: 83px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 70px;
line-height: 85px;

color: #FFFFFF;



/* SCREEN 61 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 21 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 27 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 26 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 25 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 24 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 23 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 22 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 14 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 13 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 12 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* quiz */

position: relative;
width: 1529px;
height: 968px;



/* QUIZ EXTENTION */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* QUIZ EXTENTION */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* QUIZ EXTENTION */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* QUIZ EXTENTION */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* QUIZ EXTENTION */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* QUIZ EXTENTION */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* QUIZ EXTENTION */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);




position: relative;
width: 69px;
height: 51px;

background: #000000;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;


/* SCREEN 8 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 36 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 46 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 47 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 45 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 44 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 40 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 42 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 43 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 39 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 37 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 48 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 54 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 57 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 58 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 59 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 60 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 55 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 56 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 50 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 51 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 52 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 53 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 49 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 9 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* SCREEN 10 */

position: relative;
width: 1512px;
height: 982px;

background: url(wallpaperflare.com_wallpaper.jpg);
transform: rotate(179.88deg);


/* ic:round-arrow-circle-left */

position: relative;
width: 24px;
height: 24px;

